<!DOCTYPE html>
<html lang="en">
<head>
  <title>About Urban Hunt</title>
</head>
<body>

<div class="container-fluid bg-1 text-center">
  <h3>What is Urban Hunt?</h3>
  <img src="https://coupme.files.wordpress.com/2010/08/scavenger_hunt.gif" class="img-circle" alt="hunter" width="350" height="350">
</div>

<div class="container-fluid bg-2 text-center">
  <h3>What is Urban Hunt?</h3>
  <p>Urban Hunt is an online web application designed to provide users with a simple way to organize fun group scavenger hunts.</p>
</div>

<div class="container-fluid bg-3 text-center">
  <h3>How to play it?</h3>
  <p>The players are given an image of a certain location along with several hints in order to find it.  Users will be able to sign up, join an existing game, or create a new game. </p>
</div>

</body>
</html>